ul li {
    list-style: none;
}

.prussian{
    color: #0B3C5D;
}

.prussian-bg{
    background-color: #0B3C5D;
}

.ivory{
    color: #1D2731;
}

.ivory-bg{
    background-color: #1D2731;
}

.golden-leaf{
    color: #D9B310;
}

.skyblue{
    color:#328CC1;
}

.font-roboto{
    font-family:roboto;
}

.logo-header{
    letter-spacing: 5px;
    font-size: 15px;
    text-decoration:none!important;
    margin-left: 10px;
    transition:0.2s;
}

.btn-outline-dark:hover{
    background-color: #0B3C5D!important;
}

.logo-header:hover{
    color:#0B3C5D ;
    letter-spacing: 5px;
    font-size: 20px;
    text-decoration:none!important;
}

button#sidebarCollapse {
    padding: 4px 16px;
}

@font-face{
    font-family: 'roboto';
    src:url('../../fonts/roboto/Roboto-Bold.ttf');
}

nav.navbar.navbar-expand.navbar-light {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

button#sidebarCollapse {
    box-shadow:none;
}