#sidebar {
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    transition:all 0.3s
}

ul.menu{
    padding:0;
    width:100%;
}

ul.menu li a {
    color: white;
    font-size: 1.1em;
    display: block;
    padding: 10px 20px;
}

ul.menu li a:hover {
    text-decoration:none;
    background-color:#D9B310;
    color:white;
}

ul.menu li.active > a {
    background-color:#D9B310;
    color:white;
}
#sidebar.close{
    margin-left: -250px !important;
}